body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myemail, #myemail2, #password {width: 95%;}

.birthdayreason {
    justify-content: space-between; 
    max-width: 200px;
    font-size: 13px;
    padding: 10px
    ;}

* {border-radius: 4px;}
fieldset {border: solid;}

.agreement {
    font-size: smaller;
    text-decoration: none;
}

a {text-decoration: none;}

.formbottom {
    justify-content: left !important;
    text-align: left;

}