body{
    color: #404040;
    font-size: 11pt;
    font-family:  Georgia, Garamond, sans-serif;
    background-image: url(http://www.rose-hulman.edu/class/csse/csse290-WebProgramming/images/silverware.jpg);
  
    

}

h1, h2, h3 { color:#A4A400;
                background: #F0F0F0;
            font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
            text-align: center;
        }

blockquote {  background: #FFFFA8;}

ul {
    list-style-image: url(http://www.rose-hulman.edu/class/csse/csse290-WebProgramming/images/pie_bullet.png);
  }